# Visual Studio
.vs/
*.user
*.suo

# Build folders
bin/
obj/

# Logs
*.log

# NuGet
packages/

# Publish
publish/

# Rider / VSCode
.idea/
.vscode/

# OS files
Thumbs.db
.DS_Store

# Temporary files
*.tmp

# Database local
*.mdf
*.ldf

# Secrets
appsettings.Development.json